# Web Application
streamlit

# Google Sheets Integration
gspread
google-auth

# NLP & Sentiment Analysis
vaderSentiment
deep-translator

# Data Processing
pandas
numpy

# Machine Learning
scikit-learn

# Visualization
matplotlib
seaborn

# Email Automation
schedule

# Database
psycopg2-binary
